body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 288px;
    width: 288px;
    border: 1px solid black;
}

.gridDiv {
    height: 16px;
    width: 16px;
    border: 1px solid lightgray;
}
